<app-site-details id="drawer" [(site)]="featSite" (unFeature)="unFeature()" class="col s10 offset-s1"></app-site-details>
<div class="row">
	<div *ngFor="let site of (sites | categorySite: category)" class="card col" [@flyInOut]="'in'">
			<div class="card-content">
				<span class="card-title grey-text text-darken-4">
					{{site.name}}
				</span>
				<p>
					{{site.desc_short}}
				</p>
				<a class="more-link teal-text" (click)="onFeature(site)" href="#drawer">More about {{site.name}}...</a>
			</div>
		<div class="card-w2">
				<img class="z-depth-1" [src]="site.img">
			<a class="btn" [href]="site.link" target="_blank">{{site.cta}}</a>
		</div>
	</div> <!-- card -->
</div>