.row{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card{
	width: 85%;
}

.card:nth-child(2n+1){
	flex-direction: row-reverse;
}

.card-action{
	text-align: center;
}

.card-action .card-image{
	margin: 0 auto;
}

.card-image > img{
	border-radius: 50%;
}

@media screen and (max-width: 500px){
	.card{ width: 95%; }
}