<main>
	<div class="container center">
		<a class="back-btn btn-floating waves-effect waves-light"  routerLink="/" routerLinkActive="active"><i class="material-icons">chevron_left</i></a>
		<h1>Terms of Service</h1>
		<div>
		<p>
			This website is operated by me. Throughout the site, the terms “we”, “us” and “our” refer to this specific site provider.
			By visiting and using this site, you agree to all terms, conditions, policies and notices stated here. When these terms say "you," the "you" applies to any user of the site, including browsers, vendors, customers and unicorns.
		</p>
		<p>
			Any new features or tools added to this site will be subject to these terms too. It is the users' responsibility to check the terms (this page) for changes. Continuing to access and use the site means agreement to terms - even if they have changed. 
		</p>
		<h5>
			By agreeing to these Terms of Service, you represent that...
		</h5>
			<ul class="">
				<li>You are of the age to do so</li>
				<li>You are using this site legally (no illegal purpose or intent)</li>
				<li>You will not transmit any viruses, malware or code germs -- especially not with destructive nature</li>
				<li>You won't reproduce coontent on this site, duplicate it or resell it</li>
				<li>Third-party links are not our responibility</li>
				<li>We can use cookies to track your user behavior on this website and for the purpose of collecting analytics</li>
			</ul>
		</div>
		<div class="divider"></div>

		<h4>The End.</h4>
		<a class="back-bottom waves-effect waves-light btn" routerLink="/" routerLinkActive="active">Back to Shopping</a>
	</div>
</main>